@model computan.timesheet.core.TicketTimeLog
@{ ViewBag.Title = "Edit"; }
<style>
    .setwidth { width: 100% !important; }
</style>

@section header {
    <div style="background-color: #fff;" class="panel page-header border-top-primary">
        <div class="page-header-content">
            <div class="page-title">
                <h5>
                    <i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Timesheet</span> - Edit Task Time
                    <small class="display-block">Edit Task Times</small>
                </h5>
            </div>
            <div class="heading-elements">
                <div class="btn-group"> </div>
            </div>
            <a class="heading-elements-toggle">
                <i class="icon-menu"></i>
            </a>
        </div>
        <div style="border-bottom: 0; box-shadow: none; margin-bottom: 0;" class="breadcrumb-line">
            <ul class="breadcrumb">
                <li>
                    <a href="/Home/index/"><i class="icon-home2 position-left"></i>Home</a>
                </li>
                <li>
                    <a href="/TicketTimeLogs/create">Add Task Time</a>
                </li>
            </ul>
        </div>
    </div>
}

<div class="panel panel-flat">
    <div class="panel-heading">
        <h4>Ticket Time Log</h4>
        <div class="heading-elements">
            <ul class="icons-list">
                <li>
                    <a data-action="collapse"></a>
                </li>
                <li>
                    <a data-action="reload"></a>
                </li>
            </ul>
        </div>
        <a class="heading-elements-toggle">
            <i class="icon-menu"></i>
        </a>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <hr/>
                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                @Html.HiddenFor(model => model.id)
                @Html.HiddenFor(model => model.ticketitemid)
                @Html.HiddenFor(model => model.teamuserid)
                <div class="form-group">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.projectid, "Project", new {@class = "control-label"})
                        @Html.DropDownList("projectid", null, new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.projectid, "", new {@class = "text-danger"})
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.skillid, "Skill", new {@class = "control-label"})
                        @Html.DropDownList("skillid", null, new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.skillid, "", new {@class = "text-danger"})
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.workdate, new {@class = "control-label"})
                        @Html.EditorFor(model => model.workdate, new {htmlAttributes = new {Value = Model.workdate.ToString("MM/dd/yyyy"), @class = "form-control picker"}})
                        @Html.ValidationMessageFor(model => model.workdate, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.timespentinminutes, new {@class = "control-label"})
                        @Html.EditorFor(model => model.timespentinminutes, new {htmlAttributes = new {@class = "form-control", min = "0"}})
                        @Html.ValidationMessageFor(model => model.timespentinminutes, "", new {@class = "text-danger"})
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.billabletimeinminutes, new {@class = "control-label"})
                        @Html.EditorFor(model => model.billabletimeinminutes, new {htmlAttributes = new {@class = "form-control", min = "0"}})
                        @Html.ValidationMessageFor(model => model.billabletimeinminutes, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label" for="title">Ticket Title</label>
                        @Html.EditorFor(model => model.title, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.title, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.comments, new {@class = "control-label"})
                        @Html.EditorFor(model => model.comments, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.comments, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.description, new {@class = "control-label"})
                        @Html.TextAreaFor(model => model.description, new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.description, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 text-center">
                        <input type="submit" value="Save" class="btn btn-primary"/>
                        @Html.ActionLink("Back to List", "Index", "TicketTimeLogs", new {@class = "btn btn-info btn-md"})
                    </div>
                </div>
            </div>
            @Html.HiddenFor(model => model.createdonutc)
            @Html.HiddenFor(model => model.updatedonutc)
            @Html.HiddenFor(model => model.ipused)
            @Html.HiddenFor(model => model.userid)
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    $(function() {
        $("#projectid").select2();
        $("#skillid").select2();
        $(".picker").datepicker({ format: "%m/%d/%Z", maxDate: 0 });
    });
</script>