@model computan.timesheet.Models.TicketTimeViewModel
@{ ViewBag.Title = "My Buckets"; }

@section header {
    <div style="background-color: #fff;" class="panel page-header border-top-primary">
        <div class="page-header-content">
            <div class="page-title">
                <h5>
                    <i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Timesheet</span> - My Task Buckets
                    <small class="display-block">Allows you to view and export the time logs for each ticket or project.</small>
                </h5>
            </div>
            <div class="heading-elements">
                <div class="btn-group">
                    <a href="/tickettimelogs/index" class="btn btn-primary"><i class="icon-basket position-left"></i>My Time Logs</a>
                </div>
            </div>
            <a class="heading-elements-toggle">
                <i class="icon-menu"></i>
            </a>
        </div>
        <div style="border-bottom: 0; box-shadow: none; margin-bottom: 0;" class="breadcrumb-line">
            <ul class="breadcrumb">
                <li>
                    <a href="/"><i class="icon-home2 position-left"></i>Dashboard</a>
                </li>
            </ul>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/select2")
}

<div class="panel panel-default" id="maincontent">
    @Html.Partial("_TicketNavTab", "bucket")
    <div class="panel-heading"> @Html.Partial("_BucketSearchFilter", Model.SearchTicketTime, new ViewDataDictionary {{"id", "1"}}) </div>
    <div class="mybuckets"> @Html.Partial("_mybucket") </div>
</div>
<link rel="stylesheet" type="text/css" href="/scripts/default/datepicker/css/jquery.datepick.min.css"/>
<script type="text/javascript">
    $(document).ready(function() {
        $(".timespent").select2({ width: 120 });
        $(".timebill").select2({ width: 120 });
        autosize(document.querySelectorAll('textarea'));
        $(document).on('click',
            '.deletetimelog',
            function() {
                var href = $(this).attr('href');
                var rowscount = $(this).closest("tbody").find('tr').length;
                var topicrowscount = $(this).closest("tbody").find('tr').prev('tr').length;
                var tr = $(this).closest("tr");
                var topictr = $(this).closest("tr").prev('tr');
                swal({
                        title: "Delete Bucket?",
                        text: "Are you sure, you want to delete this bucket item?",
                        type: "error",
                        showCancelButton: true,
                        closeOnConfirm: false,
                        confirmButtonColor: "#2196F3",
                        showLoaderOnConfirm: true
                    },
                    function() {
                        $.ajax({
                            url: href,
                            data: '',
                            type: 'GET'
                        }).done(function(data) {
                            if (data.error) {
                                swal({ title: data.error, confirmButtonColor: "#2196F3", type: "error" });
                                return false;
                            }
                            // remove selected log from the list.
                            $(tr).remove();
                            $(topictr).remove();
                            if (topicrowscount == 1) {
                                var html = '<tr style="text-align:center;"><td colspan="6">Sorry, no task found in your bucket</td></tr>';
                                $('#buckettable tbody').prepend(html);
                                $(".savebtn").remove();
                            }
                            swal({ title: "Your Bucket item has been deleted successfully!", confirmButtonColor: "#2196F3", type: "success" });
                            var globalbucketdate = $("#GlobalStartDate").val();
                            var bucketdate = $("#StartDate").val();
                            if (bucketdate == globalbucketdate) {
                                updateglobalbuckets(globalbucketdate);
                            }
                        });
                    });
                return false;
            });
    });
    $(document).on('click',
        '.addtimeinbucketbtn',
        function() {
            var model = [];
            var trs = [];
            var pretr = [];
            var btn = $(this);
            $("table#buckettable tbody tr.datatr").each(function() {
                var id = $(this).find(".id").val();
                var bucketdescription = $(this).find(".bucketdescription").val();
                var timespent = $(this).find(".timespent").val();
                var billtime = $(this).find(".timebill").val();
                if (timespent != '') {
                    trs.push($(this));
                    pretr.push($(this).prev('tr'));
                }
                var SearchResults = {
                    'id': id,
                    'description': bucketdescription,
                    'timespent': timespent,
                    'billtime': billtime,
                };
                model.push(SearchResults);
            });
            $.ajax({
                url: '/tickettimelogs/Addbuckettime/',
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(model),
                success: function(result) {
                    $(trs).each(function() { $(this).remove(); });
                    $(pretr).each(function() { $(this).remove(); });
                    swal("Done", "Time added Succesfully.", "success");
                    var count = $("table#buckettable tbody tr.datatr");
                    if (count.length == 0) {
                        btn.remove();
                        $("table#buckettable tbody").append('<center><span>Sorry, no bucket found</span></center>');
                    }
                    var globalbucketdate = $("#GlobalStartDate").val();
                    var bucketdate = $("#StartDate").val();
                    if (bucketdate == globalbucketdate) {
                        updateglobalbuckets(globalbucketdate);
                    }
                },
                error: function(result) {
                    alert("Failed");
                }
            });
            return false;
        });

    // Function to update global buckets
    function updateglobalbuckets(globalbucketdate) {
        $.ajax({
            url: '/GlobalBuckets/MyBucketsGlobal/',
            data: { StartDate: globalbucketdate },
            type: 'GET',
        }).done(function(data) {
            if (data.error) {
                return false;
            }
            $(".GlobalBucketslist").html(data);
            var trcount = $("div.bucketitemrow");
            trcount = trcount.length;
            $(".bucktcount").html(trcount);
            return false;
        });
    }
</script>