@model computan.timesheet.core.Billing
@{ ViewBag.Title = "Details"; }
<h2>Details</h2>
<div>
    <h4>Billing</h4> <hr/>
    <dl class="dl-horizontal">
        <dt> @Html.DisplayNameFor(model => model.client.name) </dt>
        <dd> @Html.DisplayFor(model => model.client.name) </dd>
        <dt> @Html.DisplayNameFor(model => model.billabletime) </dt>
        <dd> @Html.DisplayFor(model => model.billabletime) </dd>
        <dt> @Html.DisplayNameFor(model => model.workdate) </dt>
        <dd> @Html.DisplayFor(model => model.workdate) </dd>
        <dt> @Html.DisplayNameFor(model => model.createdonutc) </dt>
        <dd> @Html.DisplayFor(model => model.createdonutc) </dd>
        <dt> @Html.DisplayNameFor(model => model.updatedonutc) </dt>
        <dd> @Html.DisplayFor(model => model.updatedonutc) </dd>
        <dt> @Html.DisplayNameFor(model => model.ipused) </dt>
        <dd> @Html.DisplayFor(model => model.ipused) </dd>
        <dt> @Html.DisplayNameFor(model => model.userid) </dt>
        <dd> @Html.DisplayFor(model => model.userid) </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {Model.id}) |
    @Html.ActionLink("Back to List", "Index")
</p>