@model computan.timesheet.core.RuleException
@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Details</title>
</head>
<body>
<div>
    <h4>RuleException</h4> <hr/>
    <dl class="dl-horizontal">
        <dt> @Html.DisplayNameFor(model => model.Rule.name) </dt>
        <dd> @Html.DisplayFor(model => model.Rule.name) </dd>
        <dt> @Html.DisplayNameFor(model => model.RuleConditionType.name) </dt>
        <dd> @Html.DisplayFor(model => model.RuleConditionType.name) </dd>
        <dt> @Html.DisplayNameFor(model => model.ruleexceptionvalue) </dt>
        <dd> @Html.DisplayFor(model => model.ruleexceptionvalue) </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {Model.id}) |
    @Html.ActionLink("Back to List", "Index")
</p>
</body>
</html>