@model IEnumerable<computan.timesheet.Models.AllTaskViewModel>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr role="row">
            <th colspan="2"> @Html.Raw("Email Subject") </th>
            <th> @Html.Raw("Assigned users") </th>
            <th> @Html.Raw("Assigned On") </th>
            <th> @Html.Raw("Status") </th>
        </tr>
        </thead>
        <tbody>
        @if (Model != null && Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td colspan="2">
                        <h6 class="no-margin-top">
                            <a href="/ticketitems/TicketItem/@item.id"><i class="icon-user"></i>&nbsp;&nbsp;@item.subject</a>
                        </h6>
                        <a class="modellink" id="@item.id" data-id="@item.id">
                            <small class="display-block">@item.shortbody</small>
                        </a>
                    </td>
                    <td>
                        <span>@item.FullName</span>
                    </td>
                    <td>
                        <span>@item.assignedon &nbsp;</span>
                    </td>
                    <td>
                        <span>@item.status &nbsp;</span>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3" class="text-center">
                    <h6 class="no-margin-top">
                        <a href="#"><i class="icon-task"></i>&nbsp;&nbsp;Sorry, No task found.</a>
                    </h6>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>