@model computan.timesheet.core.SentItemLog
@{ ViewBag.Title = "Edit"; }
<h2>Edit</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>SentItemLog</h4>
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        @Html.HiddenFor(model => model.id)
        <div class="form-group">
            @Html.LabelFor(model => model.ticketId, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.ticketId, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.ticketId, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ticket_title, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.ticket_title, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.ticket_title, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.To, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.To, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.To, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Cc, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cc, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Cc, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Bcc, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Bcc, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Bcc, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.subject, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.subject, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.subject, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.body, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.body, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.body, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.attachments, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.attachments, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.attachments, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.IsSent, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsSent)
                    @Html.ValidationMessageFor(model => model.IsSent, "", new {@class = "text-danger"})
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Sentdate, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Sentdate, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Sentdate, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.createdonutc, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.createdonutc, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.createdonutc, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.updatedonutc, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.updatedonutc, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.updatedonutc, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ipused, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.ipused, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.ipused, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.userid, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.userid, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.userid, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default"/>
            </div>
        </div>
    </div>
}
<div> @Html.ActionLink("Back to List", "Index") </div>