@model IEnumerable<computan.timesheet.core.Credentials>
<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer" style="max-width: inherit !important; overflow-x: scroll !important">
    <div class="datatable-scroll">
        <table class="table datatable-button-html5-basic" id="DataTables_credentials" role="grid" aria-describedby="DataTables_Table_0_info">
            <thead>
            <tr role="row">
                <th> @Html.DisplayNameFor(model => model.url) </th>
                <th> Credentials </th>
                <th> @Html.DisplayNameFor(model => model.comments) </th>
                <th></th>
            </tr>
            </thead>
            <tbody id="credential_tdoby">
            @if (Model != null && Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <span class="credential_title">@Html.DisplayFor(modelItem => item.title)</span>
                            @if (!string.IsNullOrEmpty(item.title))
                            {
                                <br/>
                            }
                            <a target="_blank" href="@Html.DisplayFor(modelItem => item.url)">@Html.DisplayFor(modelItem => item.url)</a>
                            <br/>
                            <span class="label bg-grey-400" title="@Html.DisplayFor(modelItem => item.CredentialLevel.name)">@Html.DisplayFor(modelItem => item.CredentialLevel.LevelNumber)</span>
                            <span class="label bg-success-400">@Html.DisplayFor(modelItem => item.CredentialCategory.name)</span>
                            @*<span class="label bg-blue">@Html.DisplayFor(modelItem => item.CredentialType.name) @Html.DisplayFor(modelItem => item.Project.name)</span>*@
                            @if (!string.IsNullOrEmpty(item.port))
                            {
                                <span class="label bg-indigo-400">Port: @Html.DisplayFor(modelItem => item.port)</span>
                            }
                            @if (!string.IsNullOrEmpty(item.host))
                            {
                                <span class="label bg-indigo-400">Host/IP: @Html.DisplayFor(modelItem => item.host)</span>
                            }
                            @if (!string.IsNullOrEmpty(item.networkdomain))
                            {
                                <span class="label bg-indigo-400">Domain: @Html.DisplayFor(modelItem => item.networkdomain)</span>
                            }
                            @if (item.Project != null)
                            {
                                <span class="text-semibold label bg-blue-400">
                                    @Html.DisplayFor(modelItem => item.Project.name)
                                </span>
                            }
                        </td>
                        <td>
                            <span class="text-semibold usernameval">
                                @Html.DisplayFor(modelItem => item.username)
                            </span><a href="#" class="usernameclick" style="color: green;">&nbsp; &nbsp;<i class="fa fa-clipboard" title="Copy to Clipboard"></i></a>
                            <br/>
                            <span class="text-muted passwordval">
                                @Html.DisplayFor(modelItem => item.password)
                            </span><a href="#" class="pwdclick" style="color: green;">&nbsp; &nbsp;<i class="fa fa-clipboard" title="Copy to Clipboard"></i></a>
                        </td>
                        <td> @Html.DisplayFor(modelItem => item.comments) </td>
                        <td> @Html.ActionLink("Edit", "Edit", "credentials", new {item.id, ViewBag.IsProjectCredentials}, new {@class = "btn btn-primary editcredentialsbtn", target = "_blank", data_id = item.id}) </td>
                    </tr>
                }
            }
            else
            {
                <tr class="text-center">
                    <td colspan="11">Sorry, no credentials found.</td>
                </tr>
            }
        </table>
    </div>
</div>