@model computan.timesheet.core.Credentials
@{ ViewBag.Title = "Details"; }
<div class="panel">
    <div class="panel-heading bg-teal-700">
        <h2>Credential detail</h2>
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            @if (Model.Project != null)
            {
                <dt> @Html.DisplayName("Project Name") </dt>
                <dd> @Html.DisplayFor(model => model.Project.name) </dd>
            }
            @if (Model.url != null)
            {
                <dt> @Html.DisplayName("URL") </dt>
                <dd> @Html.DisplayFor(model => model.url) </dd>
            }
            <dt> @Html.DisplayNameFor(model => model.username) </dt>
            <dd>
                @Html.DisplayFor(model => model.username) <a href="#" class="usernameclick" style="color: green;">&nbsp; &nbsp;<i class="fa fa-clipboard" title="Copy to Clipboard"></i></a>
            </dd>
            <dt> @Html.DisplayNameFor(model => model.password) </dt>
            <dd>
                <span>*****</span> <a href="#" data-id="@Model.id" class="pwdclick" style="color: green;">&nbsp; &nbsp;<i class="fa fa-clipboard" title="Copy to Clipboard"></i></a>
            </dd>
            @if (Model.comments != null)
            {
                <dt> @Html.DisplayName("Comments") </dt>
                <dd> @Html.DisplayFor(model => model.comments) </dd>
            }
            @if (Model.port != null)
            {
                <dt> @Html.DisplayNameFor(model => model.port) </dt>
                <dd> @Html.DisplayFor(model => model.port) </dd>
            }
            @if (Model.host != null)
            {
                <dt> @Html.DisplayNameFor(model => model.host) </dt>
                <dd> @Html.DisplayFor(model => model.host) </dd>
            }
            @if (Model.networkdomain != null)
            {
                <dt> @Html.DisplayNameFor(model => model.networkdomain) </dt>
                <dd> @Html.DisplayFor(model => model.networkdomain) </dd>
            }
            @if (Model.CredentialCategory.name != null)
            {
                <dt> @Html.DisplayName("Category") </dt>
                <dd> @Html.DisplayFor(model => model.CredentialCategory.name) </dd>
            }
            @if (Model.CredentialLevel.name != null)
            {
                <dt> @Html.DisplayName("Level") </dt>
                <dd> @Html.DisplayFor(model => model.CredentialLevel.name) </dd>
            }
            @if (Model.CredentialType.name != null)
            {
                <dt> @Html.DisplayName("Type") </dt>
                <dd> @Html.DisplayFor(model => model.CredentialType.name) </dd>
            }
            @if (Model.crendentialfile != null)
            {
                <dt> @Html.DisplayName("Credential File") </dt>
                <dd>
                    <a href='javascript:;' onclick="DownloadFile(@Model.id)">@Model.filename</a>
                </dd>
            }
        </dl>
    </div>
    <a href="/credentials/index" class="btn btn-default" style="bottom: 10px; left: 30px; padding-left: 10px;">Back to list</a>
</div>
@using (Html.BeginForm("DownloadFile", "Credentials", FormMethod.Post))
{
    <input type="hidden" id="hfFileId" name="FileId"/>
    <input type="submit" id="btnDownload" value="Download" style="display: none"/>
}
<script type="text/javascript">
    $(function() {
        $(document).on('click',
            '.usernameclick',
            function() {
                var $temp = $("<input>");
                $("body").append($temp);
                $temp.val($(this).closest('dd').text().trim()).select();
                document.execCommand("copy");
                $temp.remove();
                return false;
            });
    });

    function DownloadFile(fileId) {
        $("#hfFileId").val(fileId);
        $("#btnDownload")[0].click();
    };

    $(function() {
        $(document).on('click',
            '.pwdclick',
            function() {
                var credentialid = $(this).data('id');
                $.ajax({
                    url: "/credentials/getpassword",
                    data: {
                        id: credentialid
                    },
                    type: 'GET'
                }).done(function(data) {
                    var $temp = $("<input>");
                    $("body").append($temp);
                    $temp.val(data.password).select();
                    document.execCommand("copy");
                    $temp.remove();
                    return false;
                });
            });
    });
</script>