@model IEnumerable<computan.timesheet.core.Credentials>
@{ ViewBag.Title = "List Credentials"; }

@section header {
    <div style="background-color: #fff;" class="panel page-header border-top-primary">
        <div class="page-header-content">
            <div class="page-title">
                <h5>
                    <i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Timesheet</span> - Manage Credentials
                    <small class="display-block">Manage Credentials</small>
                </h5>
            </div>
            <div class="heading-elements">
                <div class="btn-group">
                    @if (ViewBag.IsProjectCredentials != null && ViewBag.IsProjectCredentials == true)
                    {
                        <a href="/credentials/Createforproject/@ViewBag.projectid" class="btn btn-primary"><i class="icon-add position-left"></i>Add Credentials</a>
                    }
                    else
                    {
                        <a href="/credentials/create" class="btn btn-success"><i class="icon-add position-left"></i>Add Credentials</a>
                    }
                </div>
            </div>
            <a class="heading-elements-toggle">
                <i class="icon-menu"></i>
            </a>
        </div>
        <div style="border-bottom: 0; box-shadow: none; margin-bottom: 0;" class="breadcrumb-line">
            <ul class="breadcrumb">
                <li>
                    <a href="/Home/index"><i class="icon-home2 position-left"></i>Home</a>
                </li>
                <li>
                    <a href="/credentials/index">Credentials</a>
                </li>
            </ul>
        </div>
    </div>
}

<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">List Credentials</h5>
        <div class="heading-elements">
            <ul class="icons-list">
                <li>
                    <a data-action="collapse"></a>
                </li>
                <li>
                    <a data-action="reload"></a>
                </li>
            </ul>
        </div>
        <a class="heading-elements-toggle">
            <i class="icon-menu"></i>
        </a>
    </div>
    <div class="panel panel-flat">
        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer" style="max-width: inherit !important; overflow-x: scroll !important">
            <div class="datatable-scroll">
                <table id="credentialsTable" class="display table" role="grid" aria-describedby="DataTables_Table_0_info">
                    <thead>
                    <tr>
                        <th>URL</th>
                        <th>Credential</th>
                        <th>Comments</th>
                        <th>Option</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm("DownloadFile", "Credentials", FormMethod.Post))
{
    <input type="hidden" id="hfFileId" name="FileId"/>
    <input type="submit" id="btnDownload" value="Download" style="display: none"/>
}
<input type="hidden" id="projectid" value="@ViewBag.projectid"/>
<style>
    .side-margin { margin: 0px 2px; }
</style>

@section Scripts {
    @Scripts.Render("~/Scripts/select2")
}

<script type="text/javascript">
    $(document).ready(function() {
        var credentialtable = $('#credentialsTable').DataTable({
            "processing": true,
            "serverSide": true,
            "ordering": false,
            "ajax": {
                "url": "/Credentials/GetData",
                "type": "GET",
                "data": function(data) { data.id = parseInt($('#projectid').val()); },
                "datatype": "json"
            },
            "buttons": [],
            "columnDefs": [
                {
                    "targets": 0,
                    "width": "30%",
                    "data": {
                        "title": "title",
                        "link": "link",
                        "port": "port",
                        "host": "host",
                        "domain": "networkdomain",
                        "clevelname": "clevelname",
                        "clevelid": "clevelid",
                        "ccategoryname": "ccategoryname",
                        "projectname": "projectname"
                    },
                    "render": function(data) {
                        if (data != null) {
                            var details = '';
                            var toolTipText = data.link;
                            if (data.title != null) {
                                details += '<span class="credential_title">' + data.title + '</span><br />';
                            }
                            if (data.link != null && data.link != 'undefined') {
                                if (data.link.length > 100) {
                                    data.link = data.link.slice(0, 100);
                                }
                            }
                            details += '<a target="_blank" data-toggle="tooltip" title="' +
                                toolTipText +
                                '" href="' +
                                data.link +
                                '">' +
                                data.link +
                                '</a><br /><span class="label side-margin bg-grey-700" title="' +
                                data.clevelname +
                                '">' +
                                data.clevelid +
                                '</span><span class="label side-margin bg-success-700">' +
                                data.ccategoryname +
                                '</span>';
                            if (data.port != null) {
                                details += '<span class="label side-margin bg-warning-700">Port:' + data.port + '</span>';
                            }
                            if (data.host != null) {
                                details += '<span class="label side-margin bg-indigo-700"> Host/IP: ' + data.host + '</span>';
                            }
                            if (data.domain != null) {
                                details += '<span class="label side-margin bg-Violet-700"> Domain: ' + data.domain + '</span>';
                            }
                            if (data.projectname != null) {
                                details += '<span class="side-margin label bg-blue-700">' + data.projectname + '</span>';
                            }
                            return details;
                        }
                    }
                },
                {
                    "targets": 1,
                    "width": "15%",
                    "data": { "username": "username", "password": "password", "filename": "filename" },
                    "render": function(data, type) {
                        if (data.filename != null) {
                            return '<span class="text-semibold usernameval">' +
                                data.username +
                                '</span><a href="#" class="usernameclick" style="color:green;">&nbsp; &nbsp;<i class="fa fa-clipboard" title="Copy to Clipboard"></i></a> <br />' +
                                '<div><span class="text-muted passwordval">********</span><a href="#" class="pwdclick" data-id="' +
                                data.id +
                                '" style="color:green;">&nbsp; &nbsp;<i class="fa fa-clipboard" title="Copy to Clipboard"></i></a></div>' +
                                '</i><a href="javascript:;" onclick="DownloadFile(' +
                                data.id +
                                ')">' +
                                data.filename +
                                '</a>';
                        } else {
                            return '<span class="text-semibold usernameval">' +
                                data.username +
                                '</span><a href="#" class="usernameclick" style="color:green;">&nbsp; &nbsp;<i class="fa fa-clipboard" title="Copy to Clipboard"></i></a> <br />' +
                                '<div><span class="text-muted passwordval">********</span><a href="#" class="pwdclick" data-id="' +
                                data.id +
                                '" style="color:green;">&nbsp; &nbsp;<i class="fa fa-clipboard" title="Copy to Clipboard"></i></a></div>';
                        }
                    }
                },
                {
                    "targets": 2,
                    "data": "comments",
                    "width": "30%",
                    "render": function(data) {
                        if (data != null) {
                            if (data.length > 100) {
                                data = data.slice(0, 100);
                            }
                        }
                        return data;
                    }
                },
                {
                    "targets": 3,
                    "data": "id",
                    "width": "25%",
                    "render": function(data) {
                        return '<a class="btn btn-info btn-sm editcredentialsbtn" data-id="' + data + '" href="/credentials/Edit/' + data + '" target="_blank">Edit</a> <a class="btn btn-info btn-sm editcredentialsbtn" data-id="' + data + '" href = "/credentials/details/' + data + '" target = "_blank" > View</a>';
                    }
                }
            ]
        });
        $(".datatable-header").append($("#projects-dropdown-template").html());
        $("#projectsid").val($('#projectid').val());
        $("#projectsid").select2({ width: 200 });
        $('#projectsid').change(function() {
            $('#projectid').val($('#projectsid').val());
            credentialtable.draw();
        });
        $('.dataTables_length select').select2({
            minimumResultsForSearch: Infinity,
            width: 'auto'
        });
        copyToClipboard();
    });

    function copyToClipboard() {
        if ('@TempData["newcredential"]') {
            new PNotify({
                title: "Success",
                text: "Credential inserted successfully and detail link is also copied to your clipboard.",
                type: 'success'
            });
            navigator.clipboard.writeText(window.location.origin + "/credentials/details/" + parseInt(@TempData["newcredential"]));
        };
    };

    function DownloadFile(fileId) {
        $("#hfFileId").val(fileId);
        $("#btnDownload")[0].click();
    };

    $(function() {
        $(document).on('click',
            '.usernameclick',
            function() {
                var $temp = $("<input>");
                $("body").append($temp);
                $temp.val($(this).closest('tr').find(".usernameval").text().trim()).select();
                document.execCommand("copy");
                $temp.remove();
                new PNotify({
                    text: "Copied!",
                    addclass: "stack-bottom-right bg-info"
                });
                return false;
            });
    });
    $(function() {
        $(document).on('click',
            '.pwdclick',
            function() {
                var credentialid = $(this).data('id');
                $.ajax({
                    url: "/credentials/getpassword",
                    data: { id: credentialid },
                    type: 'GET'
                }).done(function(data) {
                    var $temp = $("<input>");
                    $("body").append($temp);
                    $temp.val(data.password).select();
                    document.execCommand("copy");
                    $temp.remove();
                    new PNotify({
                        text: "Copied!",
                        addclass: "stack-bottom-right bg-info"
                    });
                    return false;
                });
                return false;
            });
    });
</script>
<script id="projects-dropdown-template" type="text/x-handlebars-template">
    <div id="DataTables_Table_2_filter" class="dataTables_filter">
        @Html.DropDownList("projectsid", ViewBag.projects as SelectList, "Select Project", new {@class = "form-control  select2"})
    </div>
</script>