@model IEnumerable<computan.timesheet.core.Credentials>
@{ ViewBag.Title = "List Credentials"; }
<div class="panel panel-default" id="maincontent">
    @Html.Partial("_NavTabs", "credentials")
    <div class="panel">
        <div class="panel-heading bg-teal-700">
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-12 col-sm-7">
                        <h4 class="panel-title ticket-title">
                            <span>Credentials Listing </span>
                        </h4>
                    </div>
                    <div class="col-xs-12 col-sm-5">
                        <div class="heading-elements">
                            <div class="btn-group">
                                <ul class="icons-list">
                                    @if (ViewBag.IsProjectCredentials != null && ViewBag.IsProjectCredentials == true)
                                    {
                                        <li>
                                            <button class="label border-left-primary label-striped" onclick="window.location.href = '/credentials/Createforproject/@ViewBag.projectid'">Add Credentials</button>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <button class="label border-left-primary label-striped" onclick="window.location.href = '/credentials/create'">Add Credentials</button>
                                        </li>
                                    }
                                    <li>
                                        <button class="label border-left-primary label-striped" onclick="window.location.href = '/credentialtypes/index'">Types</button>
                                    </li>
                                    <li>
                                        <button class="label border-left-primary label-striped" onclick="window.location.href = '/credentialcategories/index'">Categories</button>
                                    </li>
                                    <li>
                                        <button class="label border-left-primary label-striped" onclick="window.location.href = '/credentiallevels/index'">Levels</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-flat">
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer" style="max-width: inherit !important; overflow-x: scroll !important">
                <div class="datatable-scroll">
                    <table id="credentialsTable" class="display table" role="grid" aria-describedby="DataTables_Table_0_info">
                        <thead>
                        <tr>
                            <th>URL</th>
                            <th>Credential</th>
                            <th>Comments</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="statusFilter" value="1"/>
<input type="hidden" id="projectid" value="@ViewBag.projectid"/>
@using (Html.BeginForm("DownloadFile", "Credentials", FormMethod.Post))
{
    <input type="hidden" id="hfFileId" name="FileId"/>
    <input type="submit" id="btnDownload" value="Download" style="display: none"/>
}
<style>
    .side-margin { margin-right: 2px; }
</style>

@section Scripts {
    @Scripts.Render("~/Scripts/select2")
}

<script type="text/javascript">
    $(document).ready(function() {
        var credentialtable = $('#credentialsTable').DataTable({
            "processing": true,
            "serverSide": true,
            "ordering": false,
            "ajax": {
                "url": "/Credentials/GetData",
                "type": "GET",
                "data": function(data) {
                    data.id = parseInt($('#projectid').val());
                    data.filter = $('#statusFilter').val() == 'null' ? null : ($('#statusFilter').val() == '1' ? true : false);
                },
                "datatype": "json"
            },
            "buttons": [],
            "columnDefs": [
                {
                    "targets": 0,
                    "width": "30%",
                    "data": {
                        "title": "title",
                        "link": "link",
                        "port": "port",
                        "host": "host",
                        "domain": "networkdomain",
                        "clevelname": "clevelname",
                        "clevelid": "clevelid",
                        "ccategoryname": "ccategoryname",
                        "projectname": "projectname"
                    },
                    "render": function(data) {
                        if (data != null) {
                            var details = '';
                            var toolTipText = data.link;

                            if (data.title != null) {
                                details += '<span class="credential_title">' + data.title + '</span><br />';
                            }

                            if (data.link != null && data.link != 'undefined') {
                                if (data.link.length > 100) {
                                    data.link = data.link.slice(0, 100);
                                }
                            }
                            details += '<a data-placement="top" data-toggle="tooltip" title="' +
                                toolTipText +
                                '" href="' +
                                data.link +
                                '">' +
                                data.link +
                                '</a><br /><span class="label side-margin bg-grey-700" title="' +
                                data.clevelname +
                                '">' +
                                data.clevelid +
                                '</span><span class="label side-margin bg-success-700">' +
                                data.ccategoryname +
                                '</span>';
                            if (data.port != null) {
                                details += '<span class="label side-margin bg-warning-700">Port:' + data.port + '</span>';
                            }
                            if (data.host != null) {
                                details += '<span class="label side-margin bg-indigo-700">Host/IP: ' + data.host + '</span>';
                            }
                            if (data.domain != null) {
                                details += '<span class="label side-margin bg-Violet-700">Domain: ' + data.domain + '</span>';
                            }
                            if (data.projectname != null) {
                                details += '<span class="text-semibold label side-margin bg-blue-700">' + data.projectname + '</span>';
                            }
                            return details;
                        }
                    }
                },
                {
                    "targets": 1,
                    "width": "15%",
                    "data": {
                        "username": "username",
                        "filename": "filename"
                    },
                    "render": function(data, type) {
                        if (data.filename != null) {
                            return '<span class="text-semibold usernameval">' +
                                data.username +
                                '</span><a href="#" class="usernameclick" style="color:green;">&nbsp; &nbsp;<i class="fa fa-clipboard" title="Copy to Clipboard"></i></a> <br />' +
                                '<div><span class="text-muted passwordval">********</span><a href="#" class="pwdclick" data-id="' +
                                data.id +
                                '" style="color:green;">&nbsp; &nbsp;<i class="fa fa-clipboard" title="Copy to Clipboard"></i></a></div>' +
                                '</i><a href="javascript:;" onclick="DownloadFile(' +
                                data.id +
                                ')">' +
                                data.filename +
                                '</a>';
                        } else {
                            return '<span class="text-semibold usernameval">' +
                                data.username +
                                '</span><a href="#" class="usernameclick" style="color:green;">&nbsp; &nbsp;<i class="fa fa-clipboard" title="Copy to Clipboard"></i></a> <br />' +
                                '<div><span class="text-muted passwordval">********</span><a href="#" class="pwdclick" data-id="' +
                                data.id +
                                '" style="color:green;">&nbsp; &nbsp;<i class="fa fa-clipboard" title="Copy to Clipboard"></i></a></div>';
                        }
                    }
                },
                {
                    "targets": 2,
                    "data": "comments",
                    "width": "25%",
                    "render": function(data) {
                        if (data != null) {
                            if (data.length > 100) {
                                data = data.slice(0, 100);
                            }
                        }
                        return data;
                    }
                },
                {
                    "targets": 3,
                    "data": "id",
                    "width": "30%",
                    "render": function(data) {
                        return '<a class="btn btn-info btn-sm editcredentialsbtn" data-id="' + data + '" href="/credentials/Edit/' + data + '" target="_blank">Edit</a>&nbsp;' + '<a class="btn btn-info btn-sm editcredentialsbtn" data-id="' + data + '" href="/credentials/details/' + data + '" target = "_blank" >View</a>&nbsp;' + '<a class="btn btn-danger btn-sm" id="deleteCredential" data-id="' + data + '">Delete</a>';
                    }
                }
            ]
        });
        $(".datatable-header").append($("#projects-dropdown-template").html());
        $(".dataTables_length").before($("#excel-button-template").html());
        $(".dataTables_length").append($("#status-radiobutton-template").html());
        $("#projectsid").val($('#projectid').val());
        $("#projectsid").select2({ width: 210 });
        $('#projectsid').change(function() {
            $('#projectid').val($('#projectsid').val());
            credentialtable.draw();
        });
        $('input[name="optradio"]').change(function() {
            $('input[name="optradio"]').closest("label").removeClass('btn-primary').addClass('btn-default');
            $('#statusFilter').val($('input[name="optradio"]:checked').val());
            $('input[name="optradio"]:checked').closest("label").removeClass('btn-default').addClass('btn-primary');
            credentialtable.draw();
        });
        $('.dataTables_length select').select2({
            minimumResultsForSearch: Infinity,
            width: 'auto'
        });
        copyToClipboard();
    });

    function copyToClipboard() {
        if ('@TempData["newcredential"]') {
            new PNotify({
                title: "Success",
                text: "Credential inserted successfully and detail link is also copied to your clipboard.",
                type: 'success'
            });
            navigator.clipboard.writeText(window.location.origin + "/credentials/details/" + parseInt(@TempData["newcredential"]));
        };
    };

    function DownloadFile(fileId) {
        $("#hfFileId").val(fileId);
        $("#btnDownload")[0].click();
    };

    $(function() {
        $(document).on('click',
            '.usernameclick',
            function() {
                var $temp = $("<input>");
                $("body").append($temp);
                $temp.val($(this).closest('tr').find(".usernameval").text().trim()).select();
                document.execCommand("copy");
                $temp.remove();
                new PNotify({
                    text: "Copied!",
                    addclass: "stack-bottom-right bg-info"
                });
                return false;
            });
    });
    $(function() {
        $(document).on('click',
            '.pwdclick',
            function() {
                var credentialid = $(this).data('id');
                $.ajax({
                    url: "/credentials/getpassword",
                    data: {
                        id: credentialid
                    },
                    type: 'GET'
                }).done(function(data) {
                    var $temp = $("<input>");
                    $("body").append($temp);
                    $temp.val(data.password).select();
                    document.execCommand("copy");
                    $temp.remove();
                    new PNotify({
                        text: "Copied!",
                        addclass: "stack-bottom-right bg-info"
                    });
                });
                return false;
            });
    });
    $(document).on('click',
        '#deleteCredential',
        function() {
            var id = $(this).data('id');
            var tr = $(this).closest("tr");
            swal({
                    title: "Are you sure!",
                    text: "Do you want to delete this?",
                    showCancelButton: true,
                    confirmButtonColor: "#d33",
                    closeOnConfirm: false,
                    animation: "slide-from-top",
                    inputPlaceholder: "Write something"
                },
                function(inputValue) {
                    if (inputValue === true) {
                        $.ajax({
                            url: "/Credentials/DeleteCredential/" + id,
                            type: 'GET',
                            success: function(response) {
                                swal({
                                    title: "Deleted!",
                                    text: "Your data has been deleted",
                                    type: "success",
                                    confirmButtonColor: "#2196F3"
                                });
                                $('#credentialsTable').DataTable().row(tr).remove().draw();
                            },
                            error: function() {
                                swal({
                                    title: "Oops...",
                                    text: "Something went wrong!",
                                    confirmButtonColor: "#EF5350",
                                    type: "error"
                                });
                            }
                        });
                    }
                });
        });
</script>
<script id="projects-dropdown-template" type="text/x-handlebars-template">
    <div id="DataTables_Table_2_filter" class="dataTables_filter">
        @Html.DropDownList("projectsid", ViewBag.projects as SelectList, "Select Project", new {@class = "form-control  select2"})
    </div>
</script>
<script id="excel-button-template" type="text/x-handlebars-template">
    <div class="dt-buttons btn-group" style="display:none">
        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
        {
            using (Html.BeginForm("ExportCredentials", "Credentials", FormMethod.Post))
            {
                <input type="submit" value="Download Excel File" class="btn btn-primary" />
            }
        }
    </div>
</script>
<script id="status-radiobutton-template" type="text/x-handlebars-template">
    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
    {
        <div data-toggle="buttons" class="dt-buttons btn-group">
            <label class="btn btn-primary"> <input type="radio" name="optradio" value="1" checked="checked">Active </label>
            <label class="btn btn-default"> <input type="radio" name="optradio" value="0">In-Active </label>
            <label class="btn btn-default"> <input type="radio" name="optradio" value="null">All </label>
        </div>
    }
</script>