@model computan.timesheet.core.ClientBillingInvoice
@{ ViewBag.Title = "Details"; }
<h2>Details</h2>
<div>
    <h4>ClientBillingInvoice</h4> <hr/>
    <dl class="dl-horizontal">
        <dt> @Html.DisplayNameFor(model => model.BillingcyleType.name) </dt>
        <dd> @Html.DisplayFor(model => model.BillingcyleType.name) </dd>
        <dt> @Html.DisplayNameFor(model => model.Client.name) </dt>
        <dd> @Html.DisplayFor(model => model.Client.name) </dd>
        <dt> @Html.DisplayNameFor(model => model.billingdate) </dt>
        <dd> @Html.DisplayFor(model => model.billingdate) </dd>
        <dt> @Html.DisplayNameFor(model => model.hoursconsumed) </dt>
        <dd> @Html.DisplayFor(model => model.hoursconsumed) </dd>
        <dt> @Html.DisplayNameFor(model => model.isapproved) </dt>
        <dd> @Html.DisplayFor(model => model.isapproved) </dd>
        <dt> @Html.DisplayNameFor(model => model.createdonutc) </dt>
        <dd> @Html.DisplayFor(model => model.createdonutc) </dd>
        <dt> @Html.DisplayNameFor(model => model.updatedonutc) </dt>
        <dd> @Html.DisplayFor(model => model.updatedonutc) </dd>
        <dt> @Html.DisplayNameFor(model => model.ipused) </dt>
        <dd> @Html.DisplayFor(model => model.ipused) </dd>
        <dt> @Html.DisplayNameFor(model => model.userid) </dt>
        <dd> @Html.DisplayFor(model => model.userid) </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.Id}) |
    @Html.ActionLink("Back to List", "Index")
</p>