@model computan.timesheet.Models.ProjectDashBoardViewModel
@{ ViewBag.Title = "Project-Credentials"; }

@section secondarysidebar {
    <!-- Secondary sidebar -->
    <div class="sidebar sidebar-secondary sidebar-default">
        <div class="sidebar-content">
            <!-- Actions -->
            <div class="sidebar-category">
                <div class="category-title">
                    <span>Actions</span>
                    <ul class="icons-list">
                        <li>
                            <a href="#" data-action="collapse"></a>
                        </li>
                    </ul>
                </div>
                <div class="category-content">
                    <div class="row row-condensed">
                        <div class="col-xs-6">
                            <a class="addfiles btn bg-blue btn-block btn-float btn-float-lg">
                                <i class="icon-file-plus"></i> <span>Add File</span>
                            </a>
                            <button data-id="@Model.project.id" target="_blank" class="btn bg-indigo-300 btn-block btn-float btn-float-lg btnaddcredentials">
                                <i class="icon-key"></i> <span>New Creden</span>
                            </button>
                        </div>
                        <div class="col-xs-6">
                            <a href="/projects/edit/@Model.project.id" target="_blank" class="btn bg-purple-300 btn-block btn-float btn-float-lg">
                                <i class="icon-files-empty2"></i> <span>Edit Project</span>
                            </a>
                            <button class="btn bg-grey-300 btn-block btn-float btn-float-lg notes" data-id="@Model.project.id">
                                <i class="icon-notebook"></i> <span>Notes</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar-category">
                <div class="category-title">
                    <span>Members worked on</span>
                    <ul class="icons-list">
                        <li>
                            <a href="#" data-action="collapse" class=""></a>
                        </li>
                    </ul>
                </div>
                <div class="category-content" style="display: block;">
                    <ul class="media-list">
                        @if (Model.usernames != null && Model.usernames.Count() > 0)
                        {
                            foreach (var item in Model.usernames)
                            {
                                <li class="media">
                                    <a href="#" class="media-left">
                                        <img src="/images/placeholder.jpg" class="img-sm img-circle" alt="">
                                    </a>
                                    <div class="media-body">
                                        <a href="#" class="media-heading text-semibold">@item</a>
                                    </div>
                                    <div class="media-right media-middle">
                                        <span class="status-mark border-success"></span>
                                    </div>
                                </li>
                            }
                        }
                        else
                        {
                            <li class="media">
                                <span class="text-size-mini text-muted display-block">Sorry no member found.</span>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <!-- /latest updates -->
        </div>
    </div>
    <!-- /secondary sidebar -->
}

@section header{
    <div class="page-header">
        <div class="page-header-content"> </div>
        <div class="breadcrumb-line">
            <ul class="breadcrumb">
                <li>
                    <a href="/"><i class="icon-home2 position-left"></i> Home</a>
                </li>
                <li>
                    <a href="/projectdashboard/@Model.project.id">@Model.project.name</a>
                </li>
            </ul>
            <a class="breadcrumb-elements-toggle">
                <i class="icon-menu-open"></i>
            </a>
        </div>
    </div>
}

<div class="panel panel-default" id="maincontent">
    <div class="panel-heading">
        <h5 class="panel-title">@Model.project.name</h5>
    </div>
    <div class="panel-body">
        <div id="tasklist">
            <ul class="nav nav-tabs nav-tabs-highlight">
                <li class="taskli">
                    <a href="/ProjectDashboard/Index/@Model.project.id" class="" data-id="@Model.project.id"><span class="badge badge-success"></span>Tasks</a>
                </li>
                <li class="active credentialsli">
                    <a href="#" class="projectcreadentials" data-id="@Model.project.id"><span class="badge badge-success"></span>Credentials</a>
                </li>
                <li class="projectfilesli">
                    <a href="#" class="projectfiles" data-id="@Model.project.id"><span class="badge badge-success"></span>Files</a>
                </li>
                <li class="notesli">
                    <a href="#" class="notes" data-id="@Model.project.id"><span class="badge badge-success"></span>Notes</a>
                </li>
                <li class="Addcredentialsli pull-right">
                    <button data-id="@Model.project.id" @*onclick="window.open('/credentials/CreateForProject/@Model.project.id')"*@ class="btn btn-primary btnaddcredentials" target="_blank" style="color: white !important; margin-bottom: 10px !important;"><i class="icon-add position-left"></i><span class="badge badge-success"></span>Add Credentials</button>
                </li>
            </ul>
            <div class="contentdiv"> @*@Html.Partial("_ProjectCredentials", Model.credentials);*@ </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Addcredentialmodel" role="dialog">
    <div class="modal-dialog" style="width: 60%;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    <span class="credentialmodeltitle"></span>
                </h4>
            </div>
            <div class="modal-body" id="credentialformmodeldiv" style="height: 600px; max-height: 600px; overflow-y: scroll"> </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $(document).on('click',
            '.btnaddcredentials',
            function() {
                var id = $(this).data("id");
                $.ajax({
                    url: '/credentials/create/',
                    type: 'GET'
                }).done(function(data) {
                    if (data.error) {
                        //var source = $("#error-notification-template").html();
                        //var template = Handlebars.compile(source);
                        //var html = template(data);
                        //$("#modeladdtimebodydiv").prepend(html);
                        alert("Failed");
                        return false;
                    }
                    var title = "Add @Model.project.name Credentials";
                    $(".credentialmodeltitle").text(title);
                    $('#credentialformmodeldiv').html(data);
                    var proid = "<input type='hidden' value='" + id + "' id='projectid' name='projectid'>";
                    $("#form-group-productid").html('');
                    $("#form-group-productid").hide();
                    $("#addcredentials").append(proid);
                    $('select').select2();
                    $("#Addcredentialmodel").modal('show');
                    return false;
                });
            });
        $(document).on('submit',
            '#addcredentials',
            function(e) {
                e.preventDefault(); // prevent the form's normal submission
                var projectid = $(this).data("id");
                alert(projectid);
                var dataToPost = $(this).serialize();
                $.post("/credentials/create", dataToPost)
                    .done(function(response, status, jqxhr) {
                        sweetAlert("", "The credentials has been added successfully!", "success");
                        $("#Addcredentialmodel").modal('hide');
                        $.ajax({
                            url: '/ProjectDashboard/PartialProjectCredentials/',
                            data: {
                                id: projectid
                            },
                            type: 'GET'
                        }).done(function(data) {
                            if (data != null) {
                                $('.contentdiv').empty();
                                $('.contentdiv').append(data);
                            }
                            return false;
                        });
                    })
                    .fail(function(jqxhr, status, error) {
                        // this is the ""error"" callback
                        //sweetAlert("", error.errortext, "error");
                    });
            });
    });
</script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>