@model IEnumerable<computan.timesheet.core.Rule>
<a href="/rules/create" target="_blank" class="btn btn-success">Add Rule</a> <br/> <br/>
<table class="table table-hover" id="roletable" role="grid">
    <tr>
        <th> @Html.DisplayNameFor(model => model.name) </th>
        <th> @Html.DisplayNameFor(model => model.runorder) </th>
        <th> @Html.DisplayNameFor(model => model.isactive) </th>
        <th></th>
    </tr>
    <tbody>
    @if (Model != null && Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <tr data-id="@item.id" data-runorder="@item.runorder">
                <td> @Html.DisplayFor(modelItem => item.name) </td>
                <td> @Html.DisplayFor(modelItem => item.runorder) </td>
                <td> @Html.CheckBoxFor(modelItem => item.isactive, new {@class = "status", data_id = item.id}) </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "rules", new {item.id}, new {target = "_blank"}) |
                    @Html.ActionLink("Preview", "Preview", "rules", new {item.id}, new {target = "_blank"}) |
                    @Html.ActionLink("Execute Rule", "ExecuteRule", "rules", new {item.id}, new {target = "_blank"})
                </td>
            </tr>
        }
    }
    else
    {
        <tr class="text-center">
            <td colspan="4">Sorry,no rules found.</td>
        </tr>
    }
    </tbody>
</table>