<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Start Working</h4>
</div>
<div class="modal-body" id="modelbodydiv">
    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("Project", new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownList("startprojectid", new SelectList(ViewBag.projects, "Value", "Text"), "Select Project", new {@class = "form-control"})
            </div>
        </div>
        <br/>
        <div class="form-group">
            @Html.Label("Skill", new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownList("startskillid", new SelectList(ViewBag.skills, "id", "name"), "Select Skill", new {@class = "form-control"})
            </div>
        </div>
        <br/>
        <div class="form-group">
            @Html.Label("Quoted Time", new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.TextBox("quotabletime", null, new {placeholder = "Add Time In Minutes", @class = "form-control"})
            </div>
        </div>
        <br/>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="startworking" value="Start" class="btn btn-primary"/>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer"></div>