@model computan.timesheet.Models.TicketViewModel
@{ ViewBag.Title = "List Tickets By Client"; }
@{ var statusid = Request.Url.Segments[3]; }

@section header {
    <div style="background-color: #fff;" class="panel page-header border-top-primary">
        <div class="page-header-content">
            <div class="page-title"> </div>
            <div class="heading-elements">
                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <a href="/rules" target="_blank" class="btn btn-primary"><i class="icon-list position-left"></i>Assignment Rules</a>
                }
                <a href="/manualticket/create" target="_blank" class="btn btn-primary"><i class="icon-add position-left"></i>Add Ticket</a>
            </div>
            <a class="heading-elements-toggle">
                <i class="icon-menu"></i>
            </a>
            <a class="heading-elements-toggle">
                <i class="icon-menu"></i>
            </a>
        </div>
        <div style="border-bottom: 0; box-shadow: none; margin-bottom: 0;" class="breadcrumb-line">
            <ul class="breadcrumb">
                <li>
                    <a href="/Home/index"><i class="icon-home2 position-left"></i>Home</a>
                </li>
                <li>
                    <a href="/tickets/index/@statusid">Tickets</a>
                </li>
            </ul>
        </div>
    </div>
}

<div class="panel panel-default" id="maincontent">
    <ul class="nav nav-tabs nav-tabs-highlight">
        <li class="active">
            <a href="/tickets/index/1"><i class="icon icon-mail5 label-icon-sm"></i>Inbox</a>
        </li>
        <li class="">
            <a href="/tickets/mytickets/2"><i class="fa fa-tasks label-icon-sm"></i>My Task</a>
        </li>
    </ul>
    <div class="panel-heading">
        @using (Html.BeginForm("", "", FormMethod.Get, new {id = "searchTicketsForm", name = "searchTicketsForm"}))
        {
            <div class="form-inline">
                <div class="form-group">
                    <h5 class="panel-title">List Tickets</h5>
                </div>
                <div class="form-group">
                    <input type="text" id="searchtext" name="searchtext" class="form-control" placeholder="Search by subject or sender name" style="width: 400px;"/>
                    <input id="btnsearch" type="submit" value="Search" class="btn btn-default" data-statusid="@statusid" disabled="disabled"/>
                    <button class="btn btn-default clearsearch">Clear Search</button>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-success btn-float btn-rounded multiassign">
                        <i class="icon-task"></i>
                    </button>
                </div>
            </div>
        }
        <a class="heading-elements-toggle">
            <i class="icon-menu"></i>
        </a>
    </div>
    <input type="hidden" value="@statusid" name="currentpagestatus" id="currentpagestatus"/>
    <div class="row">
        <div class="col-md-12" style="margin-left: 25px;">
            <h4 class="presearchstring hidden">Search results for <span class="searchstring"></span></h4>
        </div>
    </div>
    <br/>
    <ul class="nav nav-tabs nav-tabs-highlight">
        @foreach (var items in ViewBag.conversationstatus)
        {
            var isactive = true;
            <li class='@(isactive ? "active" : "") statusli' id="@items.id">
                <a href="#" data-id="@items.id" class="mytaskstatuslink" id="@items.id">
                    <span class="@(isactive ? "badge badge-success" : "badge badge-default") position-left conversationstatus" data-id="@items.id" id="@items.id">@items.ticketcount</span>@items.name
                </a>
            </li>
        }
    </ul>
    <table class="table table-hover table-ticket">
        <thead>
        <tr class="bg-teal-400">
            <th style="width: 25px;">
                <input type="checkbox" class="checkall"/>
            </th>
            <th> Task Details </th>
        </tr>
        </thead>
        <tbody id="productList">
        @if (Model.tickets.Count() > 0)
        {
            @Html.Partial("_ConversationRow")
        }
        else
        {
            <tr>
                <td colspan="4">
                    <h5 class="panel-title"> <i class="icon-envelop5 position-left"></i> Sorry, no Ticket found. </h5>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<input type="hidden" id="pagenumber" value="0"/>
<input type="hidden" id="searchvalue" value=""/>
<input type="hidden" id="TicketStatusId" value="@ViewBag.statusid"/>
<input type="hidden" id="Tickettype" value="@ViewBag.tickettype"/>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/select2")
    <script src="~/Scripts/default/plugins/jquery.alphanum.min.js"></script>
    <script src="~/Scripts/custom/ticket.min.js"></script>
}

<script type="text/javascript">
    $(window).load(function() { $("#btnsearch").prop("disabled", false); });
    $(document).ready(function() {
        $.fn.modal.Constructor.prototype.enforceFocus = function() {};
        //admin user assignment End
        $("#projectid").select2();
        $("#skillid").select2();
        $("#projectid_assignuser").select2();
        $("#skillid_assignuser").select2();
        $('#DataTables_Table_tickets').dataTable().fnDestroy();
        $("#quotabletime").numeric({ allowMinus: false, allowThouSep: false });
        var id;
        var tr;
        $(document).on('click',
            ".startworking",
            function() {
                $(".usernotification").remove();
                tr = $(this).closest('tr');
                id = $(this).data("id");
                var proid = $(this).data("projectid");
                var skid = $(this).data("skillid");
                if (proid != "") {
                    $("#projectid").val(proid).trigger("change");
                }
                if (skid != "") {
                    $("#skillid").val(skid).trigger("change");
                }
                $.ajax({
                    url: '/tickets/IsAlreadyAssigned/',
                    data: { id: id },
                    type: 'POST'
                }).done(function(data) {
                    if (data.error) {
                        var source = $("#error-notification-template").html();
                        var template = Handlebars.compile(source);
                        var html = template(data);
                        $("#maincontent").prepend(html);
                        return false;
                    }
                    $('#myModal').modal('toggle');
                    return false;
                });
            });
        $(document).on('click',
            "#startworking",
            function() {
                var pid = $("#projectid option:selected").val();
                var sid = $("#skillid option:selected").val();
                var quotedtime = $("#quotabletime").val();
                if (quotedtime == "") {
                    quotedtime = 0;
                }
                if (pid == "" || sid === "") {
                    sweetAlert("Sorry...", "peasle select project and skill", "error");
                    return false;
                }
                $.ajax({
                    url: '/tickets/ticketassignment/',
                    data: { id: id, projectid: pid, skillid: sid, quotedtime: quotedtime, status: "2" },
                    type: 'POST'
                }).done(function(data) {
                    if (data.error) {
                        var source = $("#error-notification-template").html();
                        var template = Handlebars.compile(source);
                        var html = template(data);
                        $("#modelbodydiv").prepend(html);
                        return false;
                    }
                    var source = $("#success-notification-template").html();
                    var template = Handlebars.compile(source);
                    var html = template(data);
                    $('#myModal').modal('toggle');
                    //var td = tr.find('td:nth-child(4) select.itemstatus').removeAttr('disabled');
                    //var tstatus = tr.find('td:nth-child(4) select.itemstatus').val();
                    //if (tstatus == 1 || tstatus == 2 || tstatus == 3) {
                    //    tr.find('td:nth-child(4) select.itemstatus').val(2);
                    //}
                    tr.animate({ backgroundColor: 'yellow' }, 1000).fadeOut(1000,
                        function() {
                            tr.remove();
                            var pcount = $("#2.conversationstatus").text();
                            pcount = parseInt(pcount);
                            pcount = pcount + 1;
                            $("#2.conversationstatus").text(pcount);
                            var currentstatus = $("#currentpagestatus").val();
                            var cscount = $("#" + currentstatus + ".conversationstatus").text();
                            cscount = parseInt(cscount);
                            cscount = cscount - 1;
                            $("#" + currentstatus + ".conversationstatus").text(cscount);
                            $("#maincontent").prepend(html);
                            return false;
                        });
                    //$('#myModal').modal('toggle');
                });
                var oldstatusid;
                $(document).on('focus',
                    ".itemstatus",
                    function() {
                        oldstatusid = $(this).val();
                    });
                $(document).on('change',
                    ".itemstatus",
                    function() {
                        $(".usernotification").remove();
                        tr = $(this).closest('tr');
                        var id = $(this).data("id");
                        var statusid = $(this).val();
                        if (statusid == 1) {
                            sweetAlert("Sorry...", " You can change status to back.", "error");
                            $(this).val(2);
                            return false;
                        }
                        $.ajax({
                            url: '/tickets/ticketstatusupdate/',
                            data: { id: id, status: statusid, },
                            type: 'POST'
                        }).done(function(data) {
                            if (data.error) {
                                var source = $("#error-notification-template").html();
                                var template = Handlebars.compile(source);
                                var html = template(data);
                                $("#maincontent").prepend(html);
                                return false;
                            }
                            var source = $("#success-notification-template").html();
                            var template = Handlebars.compile(source);
                            var html = template(data);
                            tr.remove();
                            var pcount = $("#" + statusid + ".conversationstatus").text();
                            pcount = parseInt(pcount);
                            pcount = pcount + 1;
                            $("#" + statusid + ".conversationstatus").text(pcount);
                            var cscount = $("#" + oldstatusid + ".conversationstatus").text();
                            cscount = parseInt(cscount);
                            cscount = cscount - 1;
                            $("#" + oldstatusid + ".conversationstatus").text(cscount);
                            $("#maincontent").prepend(html);
                            return false;
                        });
                    });
            });
        var oldstatusid;
        $(document).on('focus', ".itemstatus", function() { oldstatusid = $(this).val(); });
        $(document).on('change',
            ".itemstatus",
            function() {
                $(".usernotification").remove();
                tr = $(this).closest('tr');
                var id = $(this).data("id");
                var statusid = $(this).val();
                if (statusid == 1) {
                    sweetAlert("Sorry...", " You can change status to back.", "error");
                    $(this).val(2);
                    return false;
                }
                $.ajax({
                    url: '/tickets/ticketstatusupdate/',
                    data: { id: id, status: statusid, },
                    type: 'POST',

                }).done(function(data) {
                    if (data.error) {
                        var source = $("#error-notification-template").html();
                        var template = Handlebars.compile(source);
                        var html = template(data);
                        $("#maincontent").prepend(html);
                        return false;
                    }
                    var source = $("#success-notification-template").html();
                    var template = Handlebars.compile(source);
                    var html = template(data);
                    tr.remove();
                    var pcount = $("#" + statusid + ".conversationstatus").text();
                    pcount = parseInt(pcount);
                    pcount = pcount + 1;
                    $("#" + statusid + ".conversationstatus").text(pcount);
                    var cscount = $("#" + oldstatusid + ".conversationstatus").text();
                    cscount = parseInt(cscount);
                    cscount = cscount - 1;
                    $("#" + oldstatusid + ".conversationstatus").text(cscount);
                    $("#maincontent").prepend(html);

                    return false;
                });
            });
        // load tickets by status
        $(document).on("click",
            ".mytaskstatuslink",
            function() {
                //    if ($('.conversationstatus').hasClass('badge-success'))
                //    {
                //    var sid = $('.conversationstatus.badge-success').attr('data-id');
                //    $.get("/Tickets/GetTicketCount/?sid=" + sid, function (data) {
                //        $('.conversationstatus.badge-success').html(data);
                //        return false;
                //    });
                //}
                // Clear search text
                $("#searchtext").val('');
                // Clear search message
                $(".searchstring").html('');
                // Clear hidden field of search text
                $("#searchvalue").val('');
                //hide the search message
                $(".presearchstring").addClass("hidden");
                // get the status id
                var id = $(this).attr("data-id");
                // update url start
                // set paramatter according to stautus id
                var para = id;
                var title = "new";
                if (typeof (history.pushState) != "undefined") {
                    var obj = { Title: title, Url: para };
                    history.pushState(obj, obj.Title, obj.Url);
                } else {
                    alert("Browser does not support HTML5.");
                }
                // update url end
                // update hidden field of ticket status with statusid
                $("#TicketStatusId").val(id);
                // set page number to 0
                var page = 0;
                $("#pagenumber").val(0);
                // update data property of search button for statusid
                $("#btnsearch").attr('data-statusid', id);
                // remove active class from all tabs
                $('.statusli').each(function() {
                    $(this).removeClass('active');
                });
                //remove and class class of counter
                $('.conversationstatus').each(function() {
                    $(this).removeClass('badge-success');
                    $(this).addClass('badge-default');
                });
                // add active class to current tab
                $('.statusli#' + id).addClass('active');
                //remove and class class of current tab counter
                $('#' + id + '.conversationstatus').removeClass('badge-default');
                $('#' + id + '.conversationstatus').addClass('badge-success');
                $.get("/Tickets/IndexAjax/" + id + "/" + page,
                    function(data) {
                        if (data.itemcount != 0) {
                            $("#productList").html(data.tickets);
                            $('.collapse').collapse();
                            // update total count of tickets
                            $("#" + id + ".conversationstatus").html(data.totalcount);
                            return false;
                        } else {
                            $("#productList").html('<tr><td colspan="2" class="text-center">Sorry,no task found.</td></tr>');
                            return false;
                        }
                    });
            });
    });
</script>
<script type="text/javascript">
    var _inCallback = false;

    function loadProducts() {
        var page = $("#pagenumber").val();
        if (page != -1) {
            page++;
        }
        var search = $("#searchvalue").val();
        if (search && page != -1) {
            var statusid = $("#btnsearch").attr('data-statusid');
            $.ajax({
                url: '/tickets/SearchTickets',
                data: { searchstring: search, statusid: statusid, pagenum: page },
                type: 'GET',
            }).done(function(data) {
                if (data.itemcount != 0) {
                    $("#pagenumber").val(page);
                    $("#productList").append(data.tickets);
                    var count = $("#productList").find("tr").length;
                    $("#" + statusid + ".conversationstatus").html(data.totalcount);
                } else {
                    $("#pagenumber").val(-1);
                    $("#productList").append('<tr><td colspan="2" class="text-center">Sorry, No more ticket found.</td></tr>');
                }
                return false;
            });
            return false;
        }
        var ticstatus = $("#btnsearch").attr('data-statusid');
        var tickettype = $("#Tickettype").val();
        if (page > -1 && !_inCallback) {
            //_inCallback = true;
            //page++;
            if (tickettype == 0) {

                $.get("/Tickets/IndexAjax/" + ticstatus + "/" + page,
                    function(data) {
                        if (data.itemcount != 0) {
                            $("#productList").append(data.tickets);
                            $("#pagenumber").val(page);
                        } else {
                            page = -1;
                            $("#pagenumber").val(page);
                            $("#productList").append(data.tickets);
                        }
                        _inCallback = false;
                    });
            }
            if (tickettype == 1) {
                $.get("/Tickets/MyTicketsAjax/" + ticstatus + "/" + page,
                    function(data) {
                        if (data.itemcount != 0) {
                            $("#productList").append(data.tickets);
                        } else {
                            page = -1;
                            $("#pagenumber").val(page);
                            $("#productList").append('<tr><td colspan="2" class="text-center">Sorry, No more ticket found.</td></tr>');
                        }
                        _inCallback = false;
                    });
            }
        }
    }

    var dcList = true;
    $(window).scroll(function() {
        if ($(window).scrollTop() == $(document).height() - $(window).height()) {
            loadProducts();
        }
    });
</script>
<!--Templates-->
@*Preview Model*@
@Html.Partial("_PreviewTicketModal")
@*Assign Tickets Model*@
<div class="modal fade" id="assignuseradmin" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Assign Users</h4>
            </div>
            <div class="modal-body" id="modelassignuseradmindiv">
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.Label("Project", new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.DropDownList("projectid_assignuser", new SelectList(ViewBag.projects, "Value", "Text"), "Please Select", new {@class = "form-control"})
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Skill", new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.DropDownList("skillid_assignuser", new SelectList(ViewBag.skills, "id", "name"), "Please Select", new {@class = "form-control"})
                        </div>
                    </div>
                    <div class="form-group" style="height: 250px; overflow-y: scroll;">
                        <label class="control-label col-md-2">Users</label>
                        @{ var countuser = 0; }
                        @foreach (var users in ViewBag.users)
                        {
                            if (countuser >= 4)
                            {
                                <label class="control-label col-md-2">&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                countuser = 0;
                            }
                            countuser++;
                            <div class="col-md-5" style="float: left; position: relative;">
                                @Html.CheckBox("userid", new {@class = "teammember userslist", data_userid = users.Id, id = users.Id})
                                <label for="@users.Id" class="">@users.FirstName @users.LastName</label>
                            </div>
                        }
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="button" id="btnassignticket" value="Add" class="btn btn-primary saveticketassignment"/>
                        </div>
                    </div>
                    <input type="hidden" id="assignticket_ticketid" value="0"/>
                </div>
            </div>
        </div>
    </div>
</div>
@*Start Working Model*@
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Start Working</h4>
            </div>
            <div class="modal-body" id="modelbodydiv">
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.Label("Project", new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.DropDownList("projectid", new SelectList(ViewBag.projects, "Value", "Text"), "Select Project", new {@class = "form-control"})
                        </div>
                    </div>
                    <br/>
                    <div class="form-group">
                        @Html.Label("Skill", new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.DropDownList("skillid", new SelectList(ViewBag.skills, "id", "name"), "Select Skill", new {@class = "form-control"})
                        </div>
                    </div>
                    <br/>
                    <div class="form-group">
                        @Html.Label("Quoted Time", new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.TextBox("quotabletime", null, new {placeholder = "Add Time In Minutes", @class = "form-control"})
                        </div>
                    </div>
                    <br/>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" id="startworking" value="Start" class="btn btn-primary"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer"> </div>
        </div>
    </div>
</div>
<script id="success-notification-template" type="text/x-handlebars-template">
    <div class="alert alert-success alert-styled-left alert-bordered usernotification">
        <button data-dismiss="alert" class="close" type="button"><span>×</span><span class="sr-only">Close</span></button>
        <span class="text-semibold">{{successtext}}</span>
    </div>
</script>
<script id="error-notification-template" type="text/x-handlebars-template">
    <div class="alert alert-danger alert-styled-left alert-bordered usernotification">
        <button data-dismiss="alert" class="close" type="button"><span>×</span><span class="sr-only">Close</span></button>
        <span class="text-semibold">{{errortext}}</span>
    </div>
</script>
<script id="success-notification-template-ticket" type="text/x-handlebars-template">
    <div class="alert alert-danger alert-styled-left alert-bordered usernotification">
        <button data-dismiss="alert" class="close" type="button"><span>×</span><span class="sr-only">Close</span></button>
        <span class="text-semibold">This {{subject}} ticket has been assigned to you.click <a href="{{link}}">here</a>for details.</span>
    </div>
</script>