@model computan.timesheet.Models.SendCodeViewModel
@{
    ViewBag.Title = "Enter Verification Code";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";}
<div class="login-container">
    <span class="dot"></span> <span class="dot2"></span> <span class="dot3"></span> <span class="dot4"></span>
    @using (Html.BeginForm("SendCode", "Account", new { Model.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Token)
        @Html.HiddenFor(m => m.ReturnUrl)
        @Html.HiddenFor(m => m.RememberMe)
        @Html.HiddenFor(m => m.Email)
        <div class="panel panel-body login-form login-backend">
            <div class="back2">
                <div class="center">
                    <div class="text-center">
                        <img src="~/computanLogo.png" class="logo1" />
                        <h5 class="content-group-lg"> Select Authenticator! <small class="display-block">Enter Code to continue</small> </h5>
                    </div>
                    <div class="form-group has-feedback has-feedback-left">
                        @Html.DropDownListFor(model => model.SelectedProvider, Model.Providers, new { @class = "form-control" })
                        <div class="form-control-feedback">
                            <i class="icon-lock text-muted"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit"  value="Submit" class="btn orange-bg btn-block token-button"/>
                    </div>

                </div>
            </div>
        </div>
    }
</div>
<link href="~/Content/Custom/login-custom.min.css" rel="stylesheet" />
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
